<a href="https://colab.research.google.com/github/Fatis092/repo52/blob/main/Data_Cleaning_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.impute import SimpleImputer

# Loading the dataset

In [53]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Titanic-Dataset.csv')

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Handling Null Values

In [58]:
# Check for null values (1 line)
df.isnull().sum()

# Fill null values for 'Embarked' with the mode(1 line)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.isnull().sum()
# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

# Handling Duplicates

In [60]:
# Check for duplicates (1 line)
df.duplicated().sum()

# Drop duplicates if any (1 line)

0

# Handling Outliers

In [65]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers from 'Fare' using the remove_outilers function (1 line)

df=remove_outliers(df,'Fare')

# Scaling and Normalization

In [66]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)


# Min-Max scaling for 'Age' (2 lines)

scaler = StandardScaler()
df['Fare'] = scaler.fit_transform(df['Fare'].values.reshape(-1, 1))

scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df['Age'].values.reshape(-1, 1))

# Encoding Categorical Variables

In [67]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
df = pd.get_dummies(df, columns=['Embarked', 'Sex'])